<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Usuarios</h1>
      <h2 class="subtitle">Angular 5</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <table class="table is-fullwidth is-stripped">
      <thead>
        <th>Foto</th>
        <th>Nombre</th>
        <th>País</th>
        <th>Ciudad</th>
        <th>Correo</th>
        <th>Teléfono</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
