<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Usuarios</h1>
      <h2 class="subtitle">Angular 5</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <table class="table is-fullwidth is-striped is-narrow">
      <thead>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th>Correo</th>
        <th>Teléfono</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <figure class="image is-48x48">
              <img [src]="user.picture.thumbnail">
            </figure>
          </td>
          <td class="is-capitalized">{{ user.name.first }} {{ user.name.last }}</td>
          <td class="is-capitalized">{{ user.location.city }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
